.introtext {
	width: 600px;
	height: 350px;
	background-color: white;
	position: absolute;
	margin: 150px auto 0 30%;
	text-align: center;
	border-radius: 10px;
}

h1, h2 {
	font-family: Helvetica;
	color: #416491;
	margin-top: 1px;
	font-size: 30px;
}

hr {
	width: 40%;
	color: gray;
}

a {
	color: orange;
}

.logo {
	width: 220px;
	margin: 20px 0 20px 0;
}

.mainback {
	height: 800px;
	width: 100%;
	background-image: url('http://images.localedge.com/images/timesunion/media_library/330/430/media7.jpg');
	background-size: 100%;
	margin: -10px 0 0 -10px;
	background-position: center;
	background-repeat: no-repeat;

}